@import url(https://fonts.googleapis.com/css?family=Raleway:300);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400);

body {
	font-family: 'Lato';
	font-size: 18px;
	font-weight: 300;
	background-image: url("../img/background.jpg");
	background-size: 100% 100%;
	background-attachment: fixed;
}

header {
	padding: 1em;
	background-color: #FA5A0F;
	border-bottom: 5px solid #EA4A00;
	color: #FFFFFF;
}

header p {
		color: #EEEEEE;
		font-size: 120%;
		margin: 0;
	}

main {
	margin: 20px 20px 20px 30%;
	background-image: url("../img/ricepaper_v3.png");
	opacity: 0.9;
}

main section {
	padding: 1em;
}

a:link {
	color: #0000AA;
	text-decoration: none;
}

a:visited {
	color: #0000AA;
	text-decoration: none;
}

a:hover {
	color: #0000EE;
	text-decoration: none;
}

a:active {
	color: #0000EE;
	text-decoration: none;
}

h1 {
	font-size: 300%;
	margin: 0;
}

h2 {
	font-size: 150%;
}

h3 {
	font-size: 125%;
}

h1, h2, h3 {
	font-family: 'Raleway';
	font-weight: 300;
}

h2, h3 {
	color: #505050;
}
